.App {
  text-align: center;
  font-size: 0.92em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-data-container {
  margin: 0 100px 0 100px;
}

#login-panel {
  position: absolute;
  width: 300px;
  height: 150px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  border: 2px;
  border-style: solid;
  border-color: #333;
  padding: 10px;
  border-radius: 4px;
}
/*table {
  width: 70%;
}*/

form.filterForm {
  margin: 10px;
}

.toolbar {
  float: right;
}

form.filterForm label {
  font-weight: 700;
}

input, button {
  margin: 10px;
  border-radius: 4px;
}

select {
  margin: 10px;
  border-radius: 4px;
}

.button {
  background-color: #333;
  border: none;
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.nav-bar li {
  display: inline-block;
}

ul.nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav-bar li a.active {
  background-color: #111;
}

ul.nav-bar li a:hover {
  background-color: #111;
}

.react-grid-Row.react-grid-Row--odd .react-grid-Cell {
  background-color: #eee;
}