<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UtilityServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64361/UtilityService.asmx"
                binding="basicHttpBinding" bindingConfiguration="UtilityServiceSoap"
                contract="UtilityServices.UtilityServiceSoap" name="UtilityServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>